h1 { font-family: Ubuntu; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Ubuntu; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Ubuntu; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Ubuntu; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Ubuntu; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

body{ 
  margin: 0;
  padding: 0;
  boarder: 0;
  background-color: #FFEEBB; 
}
#header {
  padding: 0px; margin: 0px;
  height: 75px;
  width: 100%;
  background-color: #9DBCBC;
  color: #006666;
  font-family: Ubuntu;
  text-align: right;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 1;
  
}
#logo{
  z-index: 1000;
  color: #9DBCBC;
  font-weight: bold;
  height: 85px;
  width: 85px;
  display: inline-block;
  background-color: #6B6B6B;
  border-radius: 90px;
  position: fixed;
  top: 8px;
  left: 8px;
}
#logo>p{
  padding: 8px;
  text-align: center;
  font-size: 26px;
}
#content{
  padding-top:100px;
  height: 2000px;
  color: #006666;
  position: fixed;
}
#helpbox{}